<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.101.0">
    <title>Signin</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.6/examples/sign-in/">

    

<!-- Bootstrap core CSS -->
<link href="../assets/assets/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="signin.css" rel="stylesheet">
  </head>
  <body class="text-center">  
    <form id="userform"  method="post">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <input name="email"  type="email" id="email" class="form-control" />
        <label class="form-label" for="form2Example1">Email address</label>
      </div>
      <!-- Password input -->
      <div class="form-outline mb-4">
        <input type="password" name="password" id="password" class="form-control" />
        <label class="form-label" for="form2Example2">Password</label>
      </div>
      <!-- Submit button -->
      <button id="Btnuserform" type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
    </form>
</body>
  <script src="../assets/assets/dist/js/jquery.js"></script>
  <script src="assets/assets/dist/js/serialization.js"></script>
  <script src="../assets/assets/dist/js/formulario.js"></script>
</html>
